.profile__edit-button {
  width: 10px;
  height: 10px;
  background-image: url('../../../images/profile/Edit_Button.svg');
  padding: 10px;
  border: 1px solid white;
  margin: 16px 0 auto 20px;
  background-color: black;
  background-position: 50% 50%;
  background-repeat: no-repeat;

}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
	.profile__edit-button {
    width: 6px;
    height: 6px;
    padding: 8px;
    margin: 19px 0 0 7px;
    
  }
}