@import url('__avatar/profile__avatar.css');
@import url('__info/profile__info.css');
@import url('__name/profile__name.css');
@import url('__description/profile__description.css');
@import url('__edit-button/profile__edit-button.css');
@import url('__add-button/profile__add-button.css');
@import url('__title/profile__title.css');


.profile {
  max-width: 882px;
  margin: 40px auto 0;
  display: flex;
  flex-direction: row;
}


@media screen and (max-width: 1100px) {
  .profile {
    max-width: 700px;  
    margin: 40px auto 0;
  }
}

@media screen and (max-width: 767px) {
  .profile {
    max-width: 320px;
    flex-direction: column;
    align-items: center;
  }
}