.header {
  max-width: 882px;
  min-height: 74px;
  margin: 45px auto 0;
  border-bottom: 1px solid #545454;;
}

@media screen and (max-width: 1100px) {
	.header {
    max-width: 700px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    max-width: 320px;
    min-height: 56px;
    margin: 28px auto 0;
  }
}

@media screen and (max-width: 320px) {
	.header {
    max-width: 100%;
  }
}