.profile__title {
  display: flex;
  flex-direction: row;
  margin: 18px 0 0 30px;
  max-width: 500px;
}

@media screen and (max-width: 1100px) {
  .profile__title {
    max-width: 350px;
  }
}

@media screen and (max-width: 767px) {
  .profile__title {
    margin: 15px auto 0;
    max-width: 282px;
  }
}