.popup__exit-button {
  width: 40px;
  height: 40px;
  background-image: url('../../../images/popup/Close_Icon.svg');
  background-color: transparent;
  border: none;
  background-position: 50% 50%;
  position: absolute;
  top: -40px;
  right: -40px;
  
}

.popup__exit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .popup__exit-button {
    width: 30px;
    height: 30px;
    top: 25px;
    right: 36px;
    background-color: black;
    background-size: 40px 40px;
  }
}