.elements__like {
  background-image: url('../../../images/elements/Like.svg');
  width: 21px;
  height: 18px;
  border: none;
  background-color: white;
  margin: 31px 20px auto auto;
}

.elements__like:hover {
  opacity: 0.6;
  cursor: pointer;
}